@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #272727;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 16px; }

.container {
  margin: 50px auto 0;
  width: 374px; }

/* header */
.header {
  position: relative;
  margin-bottom: 20px; }
  .header h1 {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    color: #fff;
    height: 157px;
    text-indent: -9999px;
    width: 148px; }
  .header h2 {
    background-color: #fff;
    bottom: 10px;
    color: #272727;
    font-size: 28px;
    font-weight: bold;
    margin-left: 80px;
    padding: 15px;
    padding-right: 55px;
    position: absolute;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    width: 250px;
    z-index: -99; }

/* List */
ul.people {
  background-color: #fff;
  margin-bottom: 50px;
  margin-left: 32px;
  width: 342px; }
  ul.people li {
    margin: 0px;
    padding: 10px 15px;
    min-height: 85px;
    position: relative; }
    ul.people li:nth-child(even) {
      background-color: #f2f1f1; }
    ul.people li:hover {
      background-color: #ba3638; }
      ul.people li:hover table {
        display: block;
        position: absolute;
        right: -185px;
        top: 23px;
        width: 170px; }
      ul.people li:hover h3 {
        color: #f4f3f3; }
      ul.people li:hover small {
        color: #000; }
      ul.people li:hover img {
        border-color: #fff; }
    ul.people li table::before {
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 7px solid #f8f7f7;
      content: " ";
      position: absolute;
      left: -7px;
      top: 40%; }
  ul.people .figure {
    float: left;
    margin: 4px 20px 0 0;
    position: relative; }
  ul.people img {
    border: 5px solid #ba3638;
    border-radius: 50%;
    height: 65px;
    width: 65px; }
  ul.people .position {
    background-color: #f4f3f3;
    border: 1px solid #707070;
    border-radius: 100%;
    bottom: 2px;
    color: #707070;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 8px;
    position: absolute;
    right: 1px; }
  ul.people h3 {
    color: #ba3638;
    font-size: 18px;
    margin: 25px 0; }
  ul.people small {
    color: #909090;
    display: block;
    font-size: 12px;
    margin-top: 5px; }
  ul.people table {
    display: none; }
    ul.people table th {
      background-color: #ba3638;
      color: white;
      font-size: 10px;
      padding: 3px 12px;
      text-transform: uppercase; }
      ul.people table th:first-child {
        border-radius: 5px 0 0 0; }
      ul.people table th:last-child {
        border-radius: 0 5px 0 0;
        border-left: 1px solid #333; }
    ul.people table td {
      background-color: #f8f7f7;
      color: #909090;
      font-size: 22px;
      font-weight: bold;
      padding: 5px;
      text-align: center; }
      ul.people table td:first-child {
        border-radius: 0 0 0 5px; }
      ul.people table td:last-child {
        border-radius: 0 0 5px 0;
        border-left: 1px solid #333; }

/*# sourceMappingURL=style.css.map */
